<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Samira Ghazi-Tehrani Ticket Service Homework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script>
    	var emailValid = false;
		$("#numberTickets").validate({
			  rules: {
			    amount: {
			      required: true,
			      digits: true
			    }
			  }
		});
    	function validateEmail() {
    		emailValid = false;
    		var atIndex = $('#email').val().lastIndexOf("@");
    		var dotIndex = $('#email').val().lastIndexOf(".");
    		if (atIndex > 0)
    			if (dotIndex > 0)
    				if (dotIndex > atIndex)
    					emailValid = true;
    		toggleButton();
    	};
    	function toggleButton() {
    		$('#goButton').prop("disabled", true);
    		if (emailValid)
		    	$('#goButton').prop("disabled", false);
    	};
    </script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1>Welcome to the Ticket Counter!</h1>
		<form class="form-narrow form-horizontal" action="#" method="post" id="ticketForm" th:action="@{/reserveTix}">
		    <fieldset>
		        <a href="/tickets/seatCount">Find Tickets</a> | <a href="/tickets/holdSeats">Hold Tickets</a> | <a href="/tickets/reserve">Reserve</a>
		        <p th:text="${validationMsg}"/>
		        <div class="form-group" id="numTicketsDiv">
		            <label for="numTicketsDiv" class="col-lg-2 control-label">Seat Hold Number*</label>
		            <div class="col-lg-offset-2 col-lg-10">
			        	<input class="form-control" type="number" min="1" id="seatHoldId" required="required" name="seatHoldId"/>
					</div>
				</div>
		        <div class="form-group" id="emailDiv">
		            <label for="emailDiv" class="col-lg-2 control-label">Email*</label>
		            <div class="col-lg-offset-2 col-lg-10">
			        	<input class="form-control" type="text" id="email" name="email" required="required" onchange="validateEmail();"/>
					</div>
				</div>
		        <div class="form-group" id="buttonDiv">
		            <div class="col-lg-offset-2 col-lg-10">
		                <button type="submit" id="goButton" class="btn btn-default" disabled="true">Reserve</button>
		            </div>
		        </div>
	        </fieldset>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2016 Samira Ghazi-Tehrani</div>
</div>
</body>
</html>